@font-face {
    font-family: proximanova;
    src: url("./font/proxima_ssv/ProximaNova-Regular.otf") format("opentype");
  }
  @font-face {
    font-family: proximanova-bold;
    src: url("./font/proxima_ssv/Proxima\ Nova\ Alt\ Bold.otf") format("opentype");
  }
  
  body {
    
    font-family: 'proximanova';
  }
#img{
    clip-path: polygon(0 0, 100% 0, 100% 67%, 50% 76%, 0 67%);
}
.card{
    border: none;
}
#h1{
    font-family: "proximanova-bold";
    font-weight: 999;
    font-size: 4.063em;
    letter-spacing: 2.7px;
    color: black;
}
.conta{
    padding-top: 3%;
    padding-right: 3%;
}
#h1.lighter {
    color: -50%;  
  }
.navbar{
    padding:.8rem

} 
.dropdown-menu{
    padding-right: 300px;
}
#blog{
    text-decoration: none;
    color: #000;
}
#blog:hover{
    
    color: gray;
}
.navbar-nav{
    padding-right:20px;
}
.nav-link{

    font-size: 90%;
    color: black;
}
#dropD{
    padding-right: 25%;
}
.navbar-brand{
    font-size: 1.4em !important; 
}
.nav-link{
    width: 110%;
}
#linkH:hover{
    color: aliceblue;
}
#linkH:active{
    color: aliceblue;
}
#linkH{

    font-size: 0.875em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    letter-spacing: 4px;
    opacity: 89%;
  
}
#full:hover{
    background-color: black;
    color: white;
    

}

#icon{
    color: black;
}
#icon:hover{
    color: gray;
}
.carousel-caption{
    font-size: 300%;
    text-shadow: 1px 1px 1px 10px #000;
    font-weight: 1000;
    top: 50%;
}

#footer-icon{
    color: aliceblue;
    font-size: 1.500em;
}

#footer-icon:hover{
    color: yellow;
}

#footer {
    background:  #1b252f;
    height: 300px;
    
    clip-path: polygon(50% 25%, 100% 0, 100% 100%, 0 100%, 0 0);
 
}
.dropdown:hover .dropdown-menu{
    display: block;
}
#footer-row{
    position: relative;
    top:85%
}
#abs{
    position: absolute;
    bottom: 50%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100px;
    border-radius: 2%;
    
}
#con-foot{
    position: relative;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    
  }



#par1{
    padding: 1%;
    font-size: 1.250em;
}

#img1{
    padding: 5%;
    padding-top: 7%;
    padding-left: 4%;
}
#cont{
    margin-top: 7%;
}
/* #img2{
    padding-top: 3%;
    
} */
#par2{
    padding-left: 4%;
    font-size: 1.250em;
}
#parCard{
    padding-top: 3% ;
    padding-bottom: 3% ;
    line-height: 30.6px;
}
#card{
    padding-left: 4.5%;
    padding-right: 4.5%;
}


#img2{

    margin: 0;
    padding: 0;
    /* padding-top: 1%; */
    font-family: 'Open Sans',sans-serif;
    align-items: center;
    justify-content: center;
}
  
  .skills{
    width: 100%;
    padding-left: 3%;
  }
  
  .skill-name{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
  }
  
  .skill-bar{
   
    background: #cacaca;
    border-radius: 8px;
  }
  
  .skill-per{
    height: 20px;
    background-color: #0fbcf9;
    border-radius: 8px;
    width: 0;
    transition: 10s linear;
    position: relative;
  }
  
  .skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
  }
  
  .skill-per::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
  }


@media(max-width:576px){

.carousel-caption{
    font-size: 150%;
    text-shadow: 1px 1px 1px 10px #000;
    font-weight: bold;
    top: 30%;
}

}

  