@font-face {
    font-family: proximanova;
    src: url("./font/proxima_ssv/ProximaNova-Regular.otf") format("opentype");
  }
  @font-face {
    font-family: proximanova-bold;
    src: url("./font/proxima_ssv/Proxima\ Nova\ Alt\ Bold.otf") format("opentype");
  }
  
  body {
    
    font-family: 'proximanova';
  }
#img{
    clip-path: polygon(0 0, 100% 0, 100% 67%, 50% 76%, 0 67%);
}
.card{
    border: none;
}
#h1{
    font-family: "proximanova-bold";
    font-weight: 999;
    font-size: 4.063em;
    letter-spacing: 2.7px;
    color: black;
}
#h1.lighter {
    color: -50%;  
  }
.navbar{
    padding:.8rem

} 
.navbar-nav{
    padding-right:20px;
}
.nav-link{

    font-size: 90%;
    color: black;
}
.navbar-brand{
    font-size: 1.4em !important; 
}
.nav-link{
    width: 110%;
}
#linkH:hover{
    color: aliceblue;
}
#linkH:active{
    color: aliceblue;
}
#linkH{

    font-size: 0.875em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    letter-spacing: 4px;
    opacity: 89%;
  
}
#full:hover{
    background-color: black;
    color: white;
    

}

#icon{
    color: black;
}
#icon:hover{
    color: gray;
}
.carousel-caption{
    font-size: 300%;
    text-shadow: 1px 1px 1px 10px #000;
    font-weight: 1000;
    top: 50%;
}
.par{
    font-size: 20px;
    line-height:32px ;
}
#footer-icon{
    color: aliceblue;
    font-size: 1.500em;
}

#footer-icon:hover{
    color: yellow;
}

#footer {
    background:  #1b252f;
    height: 300px;
    
    clip-path: polygon(50% 25%, 100% 0, 100% 100%, 0 100%, 0 0);
 
}
.dropdown:hover .dropdown-menu{
    display: block;
}
#footer-row{
    position: relative;
    top:85%
}
#abs{
    position: absolute;
    bottom: 50%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100px;
    border-radius: 2%;
    
}
#con-foot{
    position: relative;
}



#par1{
    padding: 1%;
    font-size: 1.250em;
}

#img1{
    padding: 5%;
    padding-top: 7%;
}
#cont{
    margin-top: 7%;
}
#img2{
    padding-top: 5.5%;
    
}
#par2{
    padding-left: 5%;
}


@media(max-width:576px){

.carousel-caption{
    font-size: 150%;
    text-shadow: 1px 1px 1px 10px #000;
    font-weight: bold;
    top: 30%;
}

}

  